@mixin box-shadow {
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);
}
@mixin box-shadow-medium {
    box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.15), 0 3px 6px hsla(0, 0%, 0%, 0.1);
}
@mixin box-shadow-small {
    box-shadow: 0 2px 5px 0 rgba(60,66,87, 0.12) , 0 1px 1px 0 rgba(0,0,0, 0.12);
}


$borderThickness: 4px;
$borderRadius: $borderThickness * 2;

@mixin calendarBorder {
    border: $borderThickness solid $color__primary-dark;
}

.calendar-icon {
    display: inline-block;
    background-color: white;
    @include box-shadow-small;
    border-radius: $borderRadius;

    .time,
    .date-wrap {
        text-align: center;
        font-weight: 700;
        white-space: nowrap;
    }

    .time {
        @include calendarBorder;
        padding: 5px 10px;
        border-radius: $borderRadius $borderRadius 0 0;
        background-color: $color__primary-dark;
        color: white;
        text-transform: lowercase;
    }

    .date-wrap {
        @include calendarBorder;
        border-top: none;
        border-radius: 0 0 $borderRadius $borderRadius;
        padding: 5px 10px 10px;
    }

    .weekday {
        opacity: 0.6;
    }

    .date {
        font-size: 24px;
    }
}
