#Cart {
    .card {
        height: auto;
        margin-bottom: 20px;

        .event-total,
        .cart-total {
            color: $Style_3_hex;
        }

        .card-body {
            ul {
                li {
                    display: flex;
                    align-items: center;

                    button {
                        background-color: transparent;
                        padding: 0;
                        margin: 0;
                        border: none;
                    }

                    .icon-trash {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .mobile-indicator {
        text-align: center;

        .icon-arrow-down {
            @include icon-fonts-before('lnr-arrow-down', 28px, darken($bodyColor, 10%));
        }
    }

    .cart-summary {
        text-align: right;

        .order-total {
            color: $Style_3_hex;
            @extend .header-font-1;
        }
    }

    .card-footer {
        .FormGroup {
            .FormRow {
                margin-bottom: 20px;
                padding: 0;
                padding-left: 11px;
                border-style: none;
                background-color: $gray;
                will-change: opacity, transform;
                box-shadow: 0 6px 9px rgba($gray, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 darken($gray, 2%);
                border-radius: 4px;
            }
        }

        .StripeElement--webkit-autofill {
            background: transparent !important;
        }

        .StripeElement {
            width: 100%;
            padding: 11px 15px 11px 0;
        }

        small {
            display: block;
            margin-bottom: 10px;
            text-align: center;
        }
    }
}
