#Cart {
    .card {
        height: auto;
        margin-bottom: 20px;

        .event-total,
        .cart-total {
            color: $Style_3_hex;
        }

        .card-body {
            ul {
                li {
                    display: flex;
                    align-items: center;

                    button {
                        background-color: transparent;
                        padding: 0;
                        margin: 0;
                        border: none;
                    }

                    .icon-trash {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .cart-summary {
        text-align: right;

        .order-total {
            color: $Style_3_hex;
            @extend .header-font-1;
        }
    }
}
