#Home {
    padding-top: 30px;

    .event-card {
        background-color: white;
        overflow: hidden;

        .card-details {
            padding: 20px 0;

            .event-description {
                margin: 15px 0 25px;
            }
        }

        .btn {
            width: auto;
            display: inline-flex;
        }
    }

    @include query-small {
        .event-card {
            .card-details {
                padding: 20px;
            }

            .card-image {
                height: 200px;
                width: 100%;
            }
        }
    }

    @include query-medium-up {
        .event-card {
            flex-direction: row;
            align-items: stretch;
            height: auto;
            height: 350px;

            .card-image {
                flex: 0 0 33.333%;
            }
        }
    }
}
