/* Colors */
$Style_1_hex: #D98BA7;
$Style_2_hex: #A3BFD9;
$Style_3_hex: #C1D9C2;
$Style_4_hex: #D95D41;
$Style_5_hex: #F22816;

$Style_1_rgba: rgba(216, 138, 167, 1);
$Style_2_rgba: rgba(162, 191, 216, 1);
$Style_3_rgba: rgba(192, 216, 194, 1);
$Style_4_rgba: rgba(216, 92, 65, 1);
$Style_5_rgba: rgba(242, 40, 21, 1);

$white: #fafafa;
$black: #4c4e56;
/* End Colors */

/* Transitions */
$slow: 0.7s;
$fast: 0.3s;
