/* Colors */
$color__primary: hsl(338,50%,69%);
$color__primary-dark: hsl(338,50%,59%);
$Style_2_hex: #A3BFD9;
$Style_3_hex: #1ea672;
$Style_4_hex: #D95D41;
$Style_5_hex: #F22816;

$white: #fafafa;
$fontWhite: hsl(338, 25%, 90%);
$bodyColor: #e3e8ee;
$gray: #f7fafc;
$black: #697386;
$darkBlack: #1f1a47;
$lightGray: #f2f2f2;
/* End Colors */

/* Transitions */
$slow: 0.7s;
$fast: 0.3s;

/* Sizes */
$smallScreen: 480px;
$mediumScreen: 768px;
$largeScreen: 1440px;

$min: min-width;
$max: max-width;
