@import './styles/reset.scss';
@import './styles/variables.scss';
@import './styles/components/components.scss';
@import './styles/responsive.scss';
@import './styles/Fonts.scss';

body {
    color: $black;
    background-color: $bodyColor;
}

/* Global Styles */
* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;

    li {
        padding: 10px 0;
    }
}

.hr {
    display: block;
    height: 1px;
    margin: 15px 0;
    background-color: $lightGray;
}

a {
    text-decoration: none;
    color: $black;
    display: inline-block;

    &:visited,
    &:hover {
        color: $black;
    }
}

p,
span {
    line-height: 20px;
}

small {
    font-size: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input {
    &[type=number] {
        -moz-appearance: textfield;
    }

    &:not([type=radio]),
    &:not([type=checkbox]) {
        padding: 5px 10px;
        border-color: transparent;
        border-radius: 4px;
        @include box-shadow-small;
    }
}

@mixin btn-base {
    padding: 10px 25px;
    border-radius: 3px;
    cursor: pointer;
    background-color: $Style_1_hex;
    color: white;
    transition: all $fast;
    border: 2px solid transparent;
    white-space: nowrap;

    &:not([disabled]):hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 6px rgba(gray, 0.3);
        color: white;
    }

    &:visited {
        color: $white;
    }

    &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.btn {
    @include btn-base;
}

.btn-flat {
    @include btn-base;
    background-color: transparent;
    border-color: transparent;
    color: $black;
    @include box-shadow-small;
}

.btn-transparent {
    @include btn-base;
    background-color: transparent;
    border-color: $Style_1_hex;
    color: $Style_1_hex;

    &:not([disabled]):hover {
        transform: none;
        box-shadow: none;
        background-color: $Style_1_hex;
        color: $white;
    }
}

.btn-success {
    @include btn-base;
    background-color: $Style_3_hex;
}

.cta {
    @include btn-base;
    display: flex;
    align-items: center;

    i {
        margin-left: 10px;
        @include icon-fonts-before('lnr-arrow-right', 16px, $white);
    }
}

header {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;

    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
    }

    .user-elements {
        .avatar-wrap {
            position: relative;
            margin-right: 10px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            .nav-user-menu {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                bottom: -10px;
                left: 50%;
                background-color: $white;
                transform: translate(-50%, 100%);
                height: auto;
                width: auto;
                transition: all $fast;
            }

            &:hover {
                .nav-user-menu {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

.page-wrap {
    margin: 0 auto;
    padding: 50px 20px;
    max-width: $largeScreen;

    pre {
        overflow: auto;
    }
}

@mixin cardBase {
    $borderRadius: 4px;
    border-radius: $borderRadius;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .card-header,
    .card-body {
        padding: 20px;
    }

    .card-header {
        background-color: white;
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
    }

    .card-body {
        background-color: $gray;
    }

    .card-image {
        width: 33.333%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 20px;
        border-radius: $borderRadius;
    }
}
.card {
    @include cardBase;
    border: 1px solid $lightGray;
}

.floating-card {
    @include cardBase;
    @include box-shadow-medium;
    background-color: $white;
}


/*-- Includes --*/
// Pages
@import './styles/pages/Home.scss';
@import './styles/pages/Event.scss';
@import './styles/pages/Cart.scss';

//Components
@import './styles/components/Picker.scss';
